<header>
    <p class="title">
        Seu <b>Bairro</b>. Sua <b>Voz</b>.
    </p>

    <div class="form">
        <div class="country">
            <img src="/assets/flags/brasil-flag.svg" alt="Bandeira do Brasil">
            <p>Brasil</p>
        </div>

        <div class="spacer"></div>

        <div class="state">
            <div class="state-select">
                <span [ngClass]="{ 'selected': stateSelected }">estado</span>
                <div>
                    <p>{{ stateSelected ? stateSelected.nome : 'Selecione um estado' }}</p>
                    <lucide-icon [img]="chevronDownIcon" size="16" (click)="toggleStateList()"></lucide-icon>
                </div>
            </div>

            <ul class="state-list" *ngIf="openStateList"> 
                <input
                    type="text" name="search-state"
                    placeholder="seu estado..." [(ngModel)]="searchState"
                    (input)="filterStates()" autocomplete="off"
                >
                
                <li *ngFor="let state of stateList" (click)="selectState(state)">
                    <img [src]="'assets/flags/' + state.sigla + '.svg'" [alt]="'Bandeira ' + state.sigla">
                    {{ state.nome }}
                </li>

                <li *ngIf="stateList.length === 0" (click)="toggleStateList()">Nenhum estado encontrado</li>
            </ul>
        </div>

        <div class="spacer"></div>

        <div class="city">
            <div class="city-select">   
                <span [ngClass]="{'selected': citySelected}">cidade</span>
                <div>
                    <p>{{ citySelected ? citySelected.nome : 'Selecione uma cidade' }}</p>
                    <lucide-icon [img]="chevronDownIcon" size="16" (click)="toggleCityList()"></lucide-icon>
                </div>
            </div>

            <ul class="city-list" *ngIf="openCityList">
                <input
                    type="text" name="search-state"
                    placeholder="sua cidade..." [(ngModel)]="searchCity"
                    (input)="filterCities()" autocomplete="off"
                >
                <li *ngFor="let city of cityList" (click)="selectCity(city)">
                    <img [src]="'assets/flags/' + city.uf.sigla + '.svg'" [alt]="'Bandeira ' + city.uf.sigla">
                    {{ city.nome }}
                </li>

                <li *ngIf="cityList.length === 0" (click)="toggleCityList()">Nenhuma cidade encontrada</li>
            </ul>
        </div>

        <div class="spacer"></div>

        <button>
            <lucide-icon [img]="searchIcon" size="20" class="search-icon"></lucide-icon>
        </button>
    </div>

    <div class="profile">
        <div class="profile-info">
            <div class="wrapper-profile-photo">
                <span>E</span>
            </div>
            <p>👋 Olá, <b>Cidadão!</b></p>
            <lucide-icon [img]="chevronDownIcon" size="16" (click)="openProfileMenu = !openProfileMenu"></lucide-icon>
        </div>

        <ul class="profile-menu" *ngIf="openProfileMenu">
            <li>
                <span>Configurações</span>
                <lucide-icon [img]="settingsIcon" size="16"></lucide-icon>
            </li>

            <li>
                <span>Settings</span>
                <lucide-icon [img]="settingsIcon" size="16"></lucide-icon>
            </li>

            <li>
                <span>Ajustes</span>
                <lucide-icon [img]="settingsIcon" size="16"></lucide-icon>
            </li>
        </ul>
    </div>
</header>

<div class="modal" *ngIf="openLocationModal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="icon-wrapper">
                <lucide-icon [img]="locateFixedIcon" size="30"></lucide-icon>
            </div>
            <h3>Como definir sua localização</h3>
        </div>

        <div class="modal-body">
            <p>Escolha uma das opções abaixo para informar onde você está:</p>

            <ul>
                <li>
                    <div class="icon-wrapper">
                        <lucide-icon [img]="sparklesIcon" size="16"></lucide-icon>
                    </div>
                    <p><span>Usar GPS:</span> detectaremos automaticamente sua cidade e estado. O navegador solicitará permissão para acessar sua localização — clique em "Permitir".</p>
                </li>

                <li>
                    <div class="icon-wrapper">
                        <lucide-icon [img]="handIcon" size="16"></lucide-icon>
                    </div>
                    <p><span>Selecionar manualmente:</span> encontre seu estado e cidade pesquisando na lista no topo do site.</p>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
            <button>
                <lucide-icon [img]="locateFixedIcon" size="16"></lucide-icon>
                <span>Usar GPS</span>
            </button>

            <button (click)="closeLocationModal()">
                <lucide-icon [img]="handIcon" size="16"></lucide-icon>
                <span>Manual</span>
            </button>
        </div>
    </div>
</div>
