<header>
    <p class="title">
        Sua <b>Voz</b>. Seu <b>Bairro</b>.
    </p>

    <div class="form">
        <div class="country">
            <img src="/images/brasil-flag.svg" alt="Bandeira do Brasil">
            <p>Brasil</p>
        </div>

        <div class="spacer"></div>

        <div class="state">
            <div class="state-select">
                <span>estado</span>
                <div>
                    <p>Rio Grande do Norte</p>
                    <lucide-icon [img]="chevronDownIcon" size="16"></lucide-icon>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="city">
            <div class="city-select">
                <span>cidade</span>
                <div>
                    <p>Natal</p>
                    <lucide-icon [img]="chevronDownIcon" size="16"></lucide-icon>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <button>
            <lucide-icon [img]="searchIcon" size="20" class="search-icon"></lucide-icon>
        </button>
    </div>

    <div>
        <div>
            <span>E</span>
        </div>
        <p>Olá, <b>Cidadão!</b></p>
        <p>T</p>
    </div>
</header>