<header>
    <p class="title">
        Seu <b>Bairro</b>. Sua <b>Voz</b>.
    </p>

    <div class="form">
        <div class="country">
            <img src="/images/brasil-flag.svg" alt="Bandeira do Brasil">
            <p>Brasil</p>
        </div>

        <div class="spacer"></div>

        <div class="state">
            <div class="state-select">
                <span>estado</span>
                <div>
                    <p>Rio Grande do Norte</p>
                    <lucide-icon [img]="chevronDownIcon" size="16"></lucide-icon>
                </div>
            </div>

            <ul class="state-list">
                <li>Rio Grande do Norte</li>
                <li>São Paulo</li>
                <li>Rio de Janeiro</li>
                <li>Minas Gerais</li>
                <li>Bahia</li>
            </ul>
        </div>

        <div class="spacer"></div>

        <div class="city">
            <div class="city-select">
                <span>cidade</span>
                <div>
                    <p>Natal</p>
                    <lucide-icon [img]="chevronDownIcon" size="16"></lucide-icon>
                </div>
            </div>

            <ul class="city-list">
                <li>Natal</li>
                <li>São Paulo</li>
                <li>Rio de Janeiro</li>
                <li>Belo Horizonte</li>
                <li>Salvador</li>
            </ul>
        </div>

        <div class="spacer"></div>

        <button>
            <lucide-icon [img]="searchIcon" size="20" class="search-icon"></lucide-icon>
        </button>
    </div>

    <div class="profile">
        <div class="profile-info">
            <div class="wrapper-profile-photo">
                <span>E</span>
            </div>
            <p>👋 Olá, <b>Cidadão!</b></p>
            <lucide-icon [img]="chevronDownIcon" size="16" (click)="openProfileMenu = !openProfileMenu"></lucide-icon>
        </div>

        <ul class="profile-menu" *ngIf="openProfileMenu">
            <li>
                <span>Configurações</span>
                <lucide-icon [img]="settingsIcon" size="16"></lucide-icon>
            </li>

            <li>
                <span>Settings</span>
                <lucide-icon [img]="settingsIcon" size="16"></lucide-icon>
            </li>

            <li>
                <span>Ajustes</span>
                <lucide-icon [img]="settingsIcon" size="16"></lucide-icon>
            </li>
        </ul>
    </div>
</header>