$black-25: rgba(#0F172A, 0.05);
$black-50: rgba(#171D1C, 0.12);
$black-100: rgba(#171D1C, 0.30);
$black-200: #262626;
$black-300: rgba(#171D1C, 0.85);
$black-400: rgba(#171D1C, 0.90);
$black-500: #171D1C;
$black: #000000;

$gray-100: rgba(#000000, 0.20);
$gray-200: #696A75;
$gray-300: #5E6366;

$white: #FFFFFF;
$white-50: rgba(#EDEDED, 0.35);
$white-100: rgba(#EDEDED, 0.70);
$white-200: #FFFAFF;
$white-300: #FFFFFF;    


$red-50: rgba(#E83151, 0.20);
$red-100: rgba(#E83151, 0.90);
$red-200: #E83151;

$yellow-50: rgba(#FFB22C, 0.11);
$yellow-100: #FFB22C;
$yellow-br: #FFDA2C;

$orange-100: #FA812F;

$grenn-50: rgba(#2FBF71, 0.30);
$green-100: #2FBF71;
$green-br: #249F58;

$blue-br: #1A47B8;